<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

						
<configuration>
	<typeAliases>
		<typeAlias type="com.yolo.trip.vo.TripVO" alias="TripVO"/>
		<typeAlias type="com.yolo.trip.vo.TripSearchVO" alias="TripSearchVO"/>
		<typeAlias type="com.yolo.trippart.vo.TripPartVO" alias="TripPartVO"/>
		<typeAlias type="com.yolo.trippart.vo.TripPartListVO" alias="TripPartListVO"/>
		<typeAlias type="com.yolo.daily.vo.DailyVO" alias="DailyVO"/>

		<typeAlias type="com.yolo.user.vo.UserVO" alias="UserVO"/>
		<typeAlias type="com.yolo.message.vo.MessageVO" alias="MessageVO"/>
		<typeAlias type="com.yolo.like.vo.LikeVO" alias="LikeVO"/>
		<typeAlias type="com.yolo.tripreply.vo.TripReplyVO" alias="TripReplyVO"/>
		<typeAlias type="com.yolo.region.vo.RegionVO" alias="RegionVO"/>

		<typeAlias type="com.yolo.dailyMain.vo.DailyMainVO" alias="DailyMainVO"/>
		<typeAlias type="com.yolo.dailyMain.vo.DailyMainSearchVO" alias="DailyMainSearchVO"/>
		
		<typeAlias type="com.yolo.hashtag.vo.HashTagVO" alias="HashTagVO"/>
		<typeAlias type="com.yolo.hashtag.vo.PopularHashTagVO" alias="PopularHashTagVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="commonDaoSql.xml"/>
		<mapper resource="com/yolo/trip/dao/sql/tripDaoSql.xml"/>
		<mapper resource="com/yolo/trippart/dao/sql/tripPartDaoSql.xml"/>
		<mapper resource="com/yolo/daily/dao/sql/DailyDaoSql.xml"/>
		<mapper resource="com/yolo/message/dao/sql/messageDaoSql.xml"/>
		<mapper resource="com/yolo/user/dao/sql/userDaoSql.xml"/>
		<mapper resource="com/yolo/like/dao/sql/likeDaoSql.xml"/>
		<mapper resource="com/yolo/tripreply/dao/sql/tripReplyDaoSql.xml"/>
		<mapper resource="com/yolo/region/dao/sql/regionDaoSql.xml"/>
		<mapper resource="com/yolo/dailyMain/dao/sql/DailyMainDaoSql.xml"/>
		<mapper resource="com/yolo/userapi/dao/sql/userApiDaoSql.xml"/>
		<mapper resource="com/yolo/hashtag/dao/sql/HashTagDaoSql.xml" />
	</mappers>

</configuration>