<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

						
<configuration>
	<typeAliases>
		<typeAlias type="com.yolo.daily.vo.DailyVO" alias="DailyVO"/>
		<typeAlias type="com.yolo.dailyMain.vo.DailyMainVO" alias="DailyMainVO"/>
		<typeAlias type="com.yolo.dailyMain.vo.DailyMainSearchVO" alias="DailyMainSearchVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/yolo/daily/dao/sql/DailyDaoSql.xml"/>
		<mapper resource="com/yolo/dailyMain/dao/sql/DailyMainDaoSql.xml"/>
	</mappers>

</configuration>